html, body {
    margin: 0;
    padding: 0;
    background-color: #000;
}

@font-face {font-family: Visitor; src: url("../resources/visitor.ttf"); }

#canvasDiv {
    display: block;
    margin: auto;

    position: absolute;
    top: 50%;
    left: 50%;
    
    width: 320px;
    height: 200px;
	margin-left: -160px;
	margin-top: -130px;
}

.overlay {
    display: block;
    margin: auto;

    position: absolute;
    top: 50%;
    left: 50%;

    width: 320px;
    height: 240px;
    margin-left: -160px;
    margin-top: -130px;
    background: #000;
    opacity: 0.7;

    z-index: 1;
}

.overlayText {
    position: absolute;
    top: 50%;

    margin-top: -30px;
    vertical-align: middle;
    width:100%;
    text-align: center;

    font: 1.6em Visitor;
    color: #555;
    opacity: 1;
}

.logo {
    font-size: 3em;
    color: #080;
}

#instructions {
	display: block;
    margin: auto;

    position: absolute;
    top: 50%;
    left: 50%;

    width: 180px;
    margin-left: -90px;
	margin-top: 120px;

    font: 1.6em Visitor;
    color: #333;
}

#mail {
    position: fixed;
    bottom: 0;
    left: 50%;

    margin-left: -8px;
}

.overlayKey {
    color: #373;
}

.key {
    color: #151;
}
